.BasketItems{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.BasketItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
}

.BasketItemQuantity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PagesNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12px;
}

.PagesNav button{
    height: 38px;
    margin: 1px;
}