.profile{
    display: flex;
    flex-direction: row;
}
.ProfileInfo{
    display: flex;
    flex-direction: column;
}
.ProfileChange{
    display: flex;
    flex-direction: column;
}

.field{
    margin: 16px;
}