.Form {
    width: 300px;
}

.FormGroup {
    display: flex;
    flex-direction: column
}

.InputPassword{
    display: flex;
    flex-direction: row;
}

.showPasswordButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 6px;
}

.showPasswordButton svg {
    width: 24px;
    height: 24px;
}

.Profile {
    display: flex;
    justify-content: center;
}