.Registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
}

.FormGroup {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.showPasswordButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 6px;
}

.showPasswordButton svg {
    width: 24px;
    height: 24px;
}

.showPasswordIcon {
    color: #666;
    font-size: 18px;
}

.showPasswordIcon:hover {
    color: #333;
}