.registration {
    display:  flex;
    flex-direction: column;
    border: 1px solid lightgray;
}

.registration .field{
    margin: 16px;
}

.alertbox {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}