.Product{
    display: flex;
    flex-direction: row;
}

.Img {
    display: flex;
    width: 400px;
    height: 200px;
}

.ProductInfo{
    display: flex;
    flex-direction: column;
    margin: 12px;
}


.ProductInfo h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .ProductInfo p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }