.Products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.PagesNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12px;
}

.PagesNav input {
    width: 60px;
}

.PagesNav button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 4px;
}

.PagesNav button:hover {
    background-color: #0056b3;
}