.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 2px;
    background-color: #212529;
}

.Header ul {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
}

.DropdownMenu {
    position: absolute;
    z-index: 1;
    left: auto;
    right: 0;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 42px;
    background-color: #212529;
}

.DropdownIcon {
    display: flex;
    margin-left: 4px;
}

.Right{
    display: flex;
    flex-direction: row;
}

.cart{
    display: flex;
    margin: 4px;
}