.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.Header button,
a {
    display: flex;
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 2px;
    border: 1px solid #cccccc;
}

.Header button:hover,
a:hover {
    background-color: #ddd;
}

.Header ul {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
}

.DropdownMenu {
    position: absolute;
    z-index: 1;
    left: auto;
    right: 0;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#Login,
#Registration {
    display: inline-flex;
    flex-direction: row;
}