* {
  margin: 0;
  padding: 0;
}

.success{
  display: inline-flex;
  position: relative;
  background-color: #43a047;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.success-message {
  margin-bottom: 20px;
  margin-right: 40px;
}

.success-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #43a047;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
}

.info{
  display: inline-flex;
  position: relative;
  background-color: #1e88e5;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.info-message {
  margin-bottom: 20px;
  margin-right: 40px;
}

.info-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1e88e5;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
}

.warning{
  display: inline-flex;
  position: relative;
  background-color: #ffb300;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.warning-message {
  margin-bottom: 20px;
  margin-right: 40px;
}

.warning-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffb300;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
}

.error{
  display: inline-flex;
  position: relative;
  background-color: #e53935;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.error-message {
  margin-bottom: 20px;
  margin-right: 40px;
}

.error-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e53935;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
}